/* style BODY */

body {
    align-content: center;
    min-width: 450px;
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.2em;
    line-height: 1.65em;
    background-color: #393d41;
    font-weight: bold;
    }

/* style HEADER */

header {
    text-align: center;  
}

.space-logo {
    background-color: black;
    margin: auto;
    height: 125px;
    text-align: center;
}

header div img {
  display: block;
  margin: auto;
  height: 50px;
  width: 150px;
  text-align: center;
  padding-top: 40px;
}


.space-title {
    background-image: url(/images/banner.jpg);
    background-position: center;
    background-size: contain; 
    font-family: Montserrat (bold);
    line-height: 1.5em;
    height: 350px; 
    text-align: center;
    display: block;
}

div div h1 {
    color: #25a2c3;
    font-size: 2.5em;
    align-items: center;
    font-weight: 900;
    margin-bottom: 35px;
    padding-top:  25px;
    line-height: 1em;
}

.button-header {
    background-color: #f04c2f;
    font-family: Montserrat (bold);
    font-weight:bold;
    font-size: 1.1em;
    color: white;
    align-items: center;
    border: none;
    border-radius: 15px;
    height: 35px;
    width: 150px;


}

.header-description {
    margin-bottom: 25px;

}


/* style MAIN */

main {
    background-color: white;
    padding: 150px auto;
}

.main {
    padding: 25px;
    font-weight: bold;

}

.title-main {
    color: #25a2c3;
    font-weight: bolder;

}

.description-main {
    padding: 15px;
}

main img {
    border-radius: 250px;
}



/* style ARTICLE */

article {
    background-color: #f04c2f;
    color: white;
    padding: 30px;
}

.title-article {
    font-size: 1.5em;
    padding: 25px;
    font-weight: bolder;

}

.description-article {
    font-style: italic;
    padding: 25px;
}

.autore-article {
    font-size: 1.1em;

}

.final-article {
    font-size: 0.1em;
} 

/* style ASIDE */

aside {
    background-color: white;
    padding: 45px;
}

aside div img {
    
} 

.box-aside {
    border: solid 0.5px #dee1e3;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.title-aside {
    color: #25a2c3;
    font-weight: bold;

}


/* style FOOTER */

footer {
    background-color: #25a2c3;
}


