/* Yo/* style BODY */

body {
    max-width: 1920px;
    min-width: 1366px;
    margin: auto;
    text-align: center;
    font-family: Open Sans;
    font-size: 1.2em;
    line-height: 1.65em;
    background-color: #393d41;
    font-weight: bold;
    }

/* style HEADER */

header {
    text-align: center;  
    font-family: Montserrat (bold);
}

.space-logo {
    background-color: black;
    margin: auto;
    height: 125px;
}

header div img {
  display: block;
  height: 50px;
  width: 150px;
  padding-top: 40px;
  padding-left: 20px;
}


.space-title {
    background-image: url(/images/banner.jpg);
    background-position: center;
    background-size: cover; 
    line-height: 1.5em;
    height: 350px; 
    text-align: center;
    display: block;
    padding-top: 75px;
}

div div h1 {
    color: #25a2c3;
    font-size: 2.5em;
    align-items: center;
    font-weight: 900;
    margin-bottom: 35px;
    padding-top:  25px;
    line-height: 1em;
}

.button-header {
    background-color: #f04c2f;
    font-family: Montserrat (bold);
    font-weight:bold;
    font-size: 1.1em;
    color: white;
    align-items: center;
    border: none;
    border-radius: 15px;
    height: 35px;
    width: 150px;


}

.header-description {
    margin-bottom: 25px;
    padding-left: 195px;
    padding-right: 195px;

}


/* style MAIN */

main {
    background-color: white;
    padding: 150px auto;
    
}

.main {
    padding: 25px;
    font-weight: bold;    
}

.title-main {
    color: #25a2c3;
    font-weight: bolder;

}

.description-main {
    padding-bottom: 15px;
}

main img {
    border-radius: 300px;
    padding-top: 30px;
    padding-right: 80px;
    width: 400px;
    height: auto;
    margin: 0%;
    display: inline-block;
}
div section {
    width: fit-content;
    display: inline-block;
}

.main-text {
    width: 30%;
    height: auto;
    margin: 0%;
    display: inline-block;
    padding-bottom: 50px;
    text-align: start;

} 

.main-block {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}



/* style ARTICLE */

article {
    background-color: #e22d0e;
    color: white;
    padding: 30px;
}

.title-article {
    font-size: 1.5em;
    padding: 25px;
    font-weight: bolder;

}

.description-article {
    font-style: italic;
    padding: 25px;
}

.autore-article {
    font-size: 1.1em;

}

.final-article {
    font-size: 0.1em;
} 

/* style ASIDE */

aside {
    background-color: white;
    padding: 45px;
}

.box-image img {
    width: 100%;
    height: 100%;
} 

.box-aside {
    border: solid 0.5px #dee1e3;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.title-aside {
    color: #25a2c3;
    font-weight: bold;

}


aside div .box-inline {
    display: inline-block;
    width: 100%;
}

.box-section {
    width: 30%;
    height: auto;
}

.description-aside {
    font-size: 0.8em;
}

#img2 {
    width: 542px;
    height: 361px;
}

#img3 {
    width: 542px;
    height: 361px;    
}

/* style FOOTER */

footer {
    background-color: #25a2c3;
    color: white;    
}
div p a {
    color: white;
}

section {
    font-weight: bold;
}

.title-footer {
    font-weight: bolder;
    font-size: 2em;
    padding: 25px;
}

.description-footer {
    font-size: 0.8em;
    line-height: 1.65em;
    padding-bottom: 25px;

}

.footer-copyright {
    border-top: white 0.5px solid;
    font-size: 0.8em;
    margin-left: 750px;
    margin-right: 750px;
    padding-top: 25px;
    padding-bottom: 25px;
}

